.transform-hover:hover {
  transition-duration: 0.5s;
  transform: scale(1.05);
}

.cursor-map {
  cursor: crosshair !important;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 49, 49, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

header {
  background-color: #fff;
  position: sticky;
  transition: all 0.3s ease;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.header.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

.ql-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}