* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  overflow-y: auto;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

.hover-grow {
  display: inline-block;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.hover-grow:hover {
  transform: scale(1.1);
}